.container-fluid-banner {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid-banner:before{
    display: table;
    content: " ";
}

.row-banner:before {
    display: table;
    content: " ";
}

.container-1170 {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.text-left {
    text-align: left;
}

.row-banner {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px!important;
    padding-left: 15px!important;
}

.solutions-for-business-card {
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 14px 20px 20px;
    margin: 0 0 30px;
    position: relative;

    flex-grow: 1; /* Allow cards to grow to fill the space */
    flex-basis: calc(33.3333% - 30px); /* Basis for the size of each card */

   
    
}

.solutions-for-business-card .solution-title {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}

.solutions-for-business-card .solution-title img {
    width: 50px;
    margin: 7px 20px 0 0;
}


/* .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
} */

.row-banner:after {
    clear: both;
    display: table;
    content: " ";
}
.container-constructor img {
    z-index: 180;
    position: relative;
    width: 100%;
}
.node img {
    border-color: #e2e2e2;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.solutions-for-business-card p {
    font-size: 16px;
    line-height: 1.55;
}


.background-image {
    padding-top: 20px;
    padding-bottom: 50px;
    background-image: url("./assets/backImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }