.pb-14 {
    padding-bottom: 4.5rem!important
}

.pt-19 {
    padding-top: 9rem!important
}

.h-21{
    height:12.5rem!important;
}
.w-17{
    width:7rem!important;
}

@media(min-width:768px){
    .pb-md-16{
        padding-bottom: 6rem!important;
    }
}

@media(min-width:768px){
    .pt-md-16{
        padding-top: 2.5rem!important;
    }
}
.mb-8{
    margin-bottom:2rem!important;
}
.fs-28{
    font-size:calc(1.265rem + .18vw) !important;
}

.mt-n1{
    margin-top:-.25!important;
}
me-6{
    margin-right:1.5rem!important;
}