.image-wrapper {
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 0
}

.image-wrapper:not(.mobile) {
    background-attachment: fixed!important
}
image-wrapper.bg-overlay.bg-content .content,.image-wrapper.bg-overlay:not(.bg-content) * {
    position: relative;
    z-index: 2
}

.py-18 {
    padding-top: 8rem!important;
    padding-bottom: 8rem!important
}

.text-line:not(.text-gradient) {
    display: inline-flex
}

.fs-16 {
    font-size: .8rem!important
}
.text-line {
    position: relative;
    vertical-align: top;
    padding-left: 1.4rem
}
.mb-6 {
    margin-bottom: 1.5rem!important
}
.rounded {
    border-radius: .4rem!important
}