/* .my-masonry-grid {
  display: flex;
  margin-left: -15px; 
  width: auto;
  margin-top: -80px;
} */
.my-masonry-grid {
  display: -webkit-box;      /* Not needed if display: flex works for you */
  display: -ms-flexbox;      /* IE10 */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

/* Optional styling for images */
.my-masonry-grid_column > div {
  margin-bottom: 15px;
}

.my-masonry-grid_column img {
  width: 100%;
  height: auto; /* Let image height vary */
  border-radius: 15px;
  display: block;
  box-shadow: 0 4px 10px rgba(242, 235, 235, 0.882);
  transition: transform 0.3s ease;
}

.my-masonry-grid_column img:hover {
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .my-masonry-grid {
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 100vh;
    padding-bottom: 50px;
  }

  .my-masonry-grid_column {
    width: 100% !important;
  }
}