
.nav-pills .nav-link.active {
    color: white !important;
  }
  
  .overlayWorld {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
  }
  

  .expertise-list {
    list-style-type: none; /* Changes the list style type to disc (default) */
    margin-left: 20px; /* Adds some left margin to indent the list */
    padding: 0; /* Removes default padding */
  }
  
  .expertise-list li {
    margin-bottom: 1px; /* Adds space between list items */
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
  }
  

  .custom-background {
    background-color: #5f717c!important; /* Change this to the desired background color */
    padding: 10px 20px!important; /* Optional: Adjust padding to your needs */
    
    display: inline-block!important; /* Ensure the span behaves like a block element */
    text-align: center!important; /* Center text inside the span */
  }
  